.alert-box{
    width: 235px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    background-color: #7C6D6A;
    text-align: center;
    color: white;
    border-radius: 25px;
}

.label-config{
    font-size:22px;
    color:white;
}

.inner-text{
    text-align: justify;
    text-justify: inter-word;
}
