.register-box{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    background-color: #4C413F;
    text-align: center;
    color: white;
    border-radius: 25px;
}

.form-config{
    margin: 70px;
}
